body {
  background-color: black !important;
}

@font-face {
  font-family: "Market_Deco";
  src: local("Market_Deco"), url("./fonts/Market_Deco.ttf") format("truetype");
  font-weight: bold;
}

h1,
th,
td {
  color: white !important;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.header-border-box {
  display: flex;
  padding: 15px;
  border: 5px solid white;
}

.header-name {
  font-family: "Market_Deco";
  color: white;
  font-size: 2em;
  margin-top: 0.2em;
}

.name-prompt {
  display: flex;
  justify-content: center;
  color: white;
  margin-right: 0.5em;
}

.statistic-name {
  font-size: 1em;
}

.statistic-value {
  margin-left: 0.5em;
  font-size: 1em;
}

.statistics {
  margin-top: 2em;
  display: grid;
  color: white;
  justify-content: center;
}

.statistic {
  display: flex;
  justify-content: center;
}

.greeting {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  width: 100%;
  color: white;
  font-size: 2em;
}

.name-selection {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.sign-in-out-button-container {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

.sign-in-out-button {
  height: 8em;
  width: 12em;
  font-size: 20px;
}

.dropdown-search {
  margin: 5px;
}

.hour-report-button {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 2em;
}

.hour-cell {
  text-align: center;
}

.hours-table {
  margin-left: 5%;
  margin-top: 2em;
}
